.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.banner{
  background-image:url("https://i.pinimg.com/originals/bb/d8/7d/bbd87d382c94f58a5c5a7cd280a12098.jpg");
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  height: 300px;
  width: 300px;
  margin-left: 570px;
  }
  
  .footer{
  margin-top: 80px;
  width: 100%;
  background: #61dafb;;
  display: block;
  height: 200px;
  left: 0px;
  bottom: 0;
  background-image: url("https://www.marklimotours.com/uploads/4/6/9/2/46925537/797185_orig.jpg");
  background-position: center;
  background-size: cover;
  padding: 200;
  
  }

  

  


  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
